/* Header */
h1 {
  font-size: 1.25em;
  margin: auto;
}

paper-header-panel {
  height: 100%;
}

paper-input {
  width: 100%;
  max-width: 400px;
}

/* List of Works */
ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px 0px;
  text-align: center;
}

li:hover {
  color: #b5855e;
  cursor: pointer;
}

.drawer {
  background-color: #022500;
  color: white;
}

.isClicked {
  font-weight: bold;
}

/* Map InfoWindow */

.info-window {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.info-window-wiki {
  width: 45%;
}

/* Map*/

.paper-header-panel, #map {
  height: 100%;
}

#mainContainer.paper-header-panel {
  overflow-y: hidden;
}
