paper-header-panel {
  height: 100%;
}

paper-input {
  width: 100%;
  max-width: 400px;
}

.drawer {
  background-color: #022500;
  color: white;
}

.paper-header-panel, google-map {
  height: 100%;
}

#mainContainer.paper-header-panel {
  overflow-y: hidden;
}
